body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 16px;
  line-height: 1;
}
#header{
font-weight: bolder;
}

.inputVal{
  border-left: 3px solid rgb(196, 194, 194);
  border-top: 3px solid rgb(196, 194, 194);
  border-bottom: 3px solid rgb(184, 184, 184);
  padding: 10px;
  white-space: pre-wrap;


}

.text{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 0px solid white;;
}

.past {
  background-color: #eb4d4d;
  color: white;
}

.present {
  background-color: rgb(87, 201, 87);
  color: rgb(29, 12, 182);
}

.future {
  background-color: #77bddd;
  color: blue;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
